.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;
    overflow: hidden;
}

.horizontaldivider {
    height: 2px;
    background-color: rgb(231, 231, 231);
    width: 95%;
    align-self: center;
}
