.container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Sivupalkki ja pääalueen suhde */
    height: calc(100vh - 100px); /* 100px on headerin korkeus */
    
}

.sidebar {
    background: gray; 
    padding: 20px;
}

.mainbar {
    background: #e6e6e6;
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    background: blue;
    border: 2px solid black;
    color: white;
}
