.mainbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffd0ec;
    height: 100%;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 10px 0 #000000;
}
