.menuBarBG {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 75px;
    background-color: #474f7a;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 7px 0 #000000;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    height: 100%;
    width: 100%;
    transition: ease-in 0.2s;
}

.btn:hover {
    background-color: #5c648c;
    font-size: 1.25em;
}
