.region-BG {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.regionTitle {
    text-align: center;
    margin-top: 1em;
    font-size: 1.5em;
}

.regionList {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 1em;
    overflow-y: scroll;
    
}

.listItem {
    background-color: rgb(240, 240, 240);
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
}
