* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.regionTitle {
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 2em;
    color: #000;
}

.region-BG {
    display: flex;
    flex-direction: column;
    background: rgb(80, 80, 80);
    /* height: 600px; */
    overflow: hidden;
    position: relative;
}

.regionList {
    overflow: scroll;
    background: blue;
    position: relative;
    max-height: 632px;
}

.list {
    list-style-type: none;
    text-align: center;
}

.listItem {
    padding: 10px;
    margin: 1em;
    border: 1px solid #000;
    background: #f16464;
    text-align: center;
    /* align-items: center; */
    cursor: pointer;
}