.toolBarBG {
    display: flex;
    justify-content: center;
    margin: 1em;
    opacity: 0.8;
}

.toolBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5em;
    width: 60%;
    background-color: transparent;
}

.tool {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    height: 40px;
    width: 100px;
    /* background-color: #7700ff; */
    background-image: linear-gradient(180deg, #000000, #df0d0d, #fbff04,  #005304);
    border-end-end-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
    transition: ease-in 0.2s;
    box-shadow: 0px 0px 4px 1px #616161;
}

.tool:hover {
    font-size: 1.25em;
    transition: 0.2s;
    background-image: linear-gradient(45deg, #07ffff, #000000);
    /* background-color: #987ab9; */
}
