* {
    margin: 0;
    padding: 0;
}

.mainbar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(189, 221, 255, 1) 100%
    );
    overflow: auto;
}

.page {
    width: 100%;
}

.pageContent {
    display: flex;
    flex-direction: column;
    color: black;
    margin-top: 2em;
    height: calc(100vh - 70px - 2em);
}
