.toolBarBG {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 40px;
    top: 70px;
    z-index: 3;
}

.toolBar {
    display: flex;
    width: fit-content;
    justify-content: center;
    column-gap: 2em;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: relative; /* -sale */
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.tool {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    color: black;
    z-index: 1;
    height: 40px;
    width: 100px;
}

.tool::before {
    content: "";
    background-image: linear-gradient(180deg, #ffffff 90%, #007bff 10%);
    width: 0;
    height: 100%;
    position: absolute;
    /* Aktivointi alla oleva -> bottom menee vasemmalta oikealle */
    /* left: 0;  */
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.tool:hover::before {
    width: 50%;
}

.sortMenu {
    position: absolute;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.171);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    height: 150px;
    transition: height ease 0.3s;
    overflow: hidden;
    justify-content: space-evenly;
    right: 0;
    top: calc(1em + 40px);
}

.sortMenuHidden {
    position: absolute;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.171);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    height: 0px;
    transition: height ease 0.3s;
    overflow: hidden;
    justify-content: space-evenly;
    right: 0;
    top: calc(1em + 40px);
}

.sortMenuItem {
    border-bottom: #000000 1px solid;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.sortMenuItem:hover {
    cursor: pointer;
}

/* Lisää */

/* Nää vois yhistää suoraan "Sort" kohdan kanssa esim. 
sortMenu, addMenu {tyylit on samat} jne*/
.add {
    display: flex;
    justify-content: center;
}

.addMenu {
    position: absolute;
    width: 100px;
    background-color: rgb(255, 255, 255);
    margin-top: 4em;
    border-radius: 1em;
    padding: 1em;
    box-shadow: #000000 0px 3px 9px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.addMenuItem {
    border-bottom: #000000 1px solid;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.addMenuItem:hover {
    cursor: pointer;
}

.searchUI {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    top: calc(1em + 40px);
    z-index: 1;
    transition: 0.3s ease;
}

.searchUIHidden {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0px;
    top: calc(1em + 40px);
    z-index: 1;
    transition: 0.3s ease;
    overflow: hidden;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.171);
}

.searchQueryInput {
    width: 95%;
    border: none;
    font-size: 1em;
}

.searchQueryInput:focus {
    outline: none;
}
