.formTemplate {
    overflow: auto;
}

.form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Input-containerin tyylit */
.inputContainer {
    position: relative;
    margin: 50px auto;
    width: 100%;
}

.inputContainer input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    transition: border-color 0.3s;
    outline: none;
}

.inputContainer input[type="text"]:focus {
    border-color: #007bff;
}

.inputContainer label {
    /* position: absolute; */
    display: block;
    top: 0;
    left: 0;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    transition: all 0.3s ease;
    pointer-events: none;
}

/* .inputContainer input[type="text"]:focus ~ label,
.inputContainer input[type="text"]:valid ~ label {
    top: -20px;
    font-size: 16px;
    color: #333;
} */

/* Btn tyylit */
button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* .inputContainer .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
} */

/* .inputContainer input[type="text"]:focus ~ .underline,
.inputContainer input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
} */

.addBtn {
    width: 100%;
}

.serviceMaxId:disabled {
    color: black;
}
