.reservationBG {
    height: 100vh; /* Updated to ensure full viewport height */
    background-color: transparent;
}

.addPageBg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.addPage {
    height: 70vh;
    width: 80vw;
    z-index: 2;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    overflow: hidden;
}

.closeAddPage {
    align-self: flex-end;
    margin-top: 0.5em;
    margin-right: 0.5em;
    height: 25px;
    cursor: pointer;
}

.popUpContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    height: 100%;
}

.reservationCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: start;
    padding: 1em;
    gap: 1em;
}

.card {
    background: transparent;
    margin: 1em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 400px;
}

.card:hover .cardHeader,
.card:hover .cardHeaderActive,
.card:hover .cardBody {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.cardHeader {
    background: rgb(0, 0, 0);
    color: #ffffff;
    padding: 10px 15px;
    font-size: 1.25rem;
    border-radius: 0.5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardHeaderActive {
    background: rgb(8, 245, 0);
    color: #000000;
    padding: 10px 15px;
    font-size: 1.25rem;
    border-radius: 0.5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardBody {
    padding: 15px;
    line-height: 1.5;
    color: #333;
    background-color: white;
    height: fit-content;
    margin-top: 1em;
    border-radius: 0.5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.active {
    border: 3px solid #0011ff; /* Highlight with a blue border */
}
